@font-face {
  font-family: "MyCustomFont"; /* Choose any name */
  src: url("/fonts/MYRIADPRO-REGULAR.OTF") format("opentype"); /* use correct path & formats */
  font-weight: normal;
  font-style: normal;
}
.cards-box {
  background:linear-gradient(
    135deg,
    #072c45 0%,
    #0e4c71 25%,
    #1a6596 50%,
    #0e4c71 75%,
    #072c45 100%);
  width: 35rem;
  padding: 10px;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.cards-box:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 15px rgb(0, 0, 0);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

.view-more {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  margin-bottom: 2rem;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.view-more:hover {
  text-decoration: underline;
}


.cards-inside {
  color: #f5f0f0;
  display: flex;
  flex-direction: column;
}

.card-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-inside img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin: 0rem 1rem 2rem 1rem;
}

.card-title {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: "MyCustomFont";
}

.card-para {
  color: #ffffff;
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "MyCustomFont";
}

.card-label {
  font-family: "Kaisei Opti", serif;
  color: rgb(122, 121, 121);
  font-weight: 900;
}

.button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  width: auto;
  height: 35px;
  color: #0e4c71;
  background-color: #ffb100;
  box-shadow: none;
  border-radius: 1rem;
  font-size: 1.5rem;
}


.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  width: auto;
  height: 35px;
  color: #0e4c71;
  background-color: #ffffff;
  box-shadow: none;
  font-size: 1.5rem;
}

.secondary-button i {
  margin-left: 8px;
  transform: scale(1.05);
}
.primary-button:hover {
  background-color: #ffb100;
  color: #0e4c71;
  border: 1px solid gray;
  box-shadow: none;
  cursor: default;
  transform: none;
  scale: 1;
  transition: none;
  animation: none;
}

.secondary-button:hover {
  background-color: #ffffff;
  color: #0e4c71;
  border: 1px solid gray;
  box-shadow: none;
  cursor: default;
  transform: none;
  scale: 1;
  transition: none;
  animation: none;
}

a {
  text-decoration: none; /* Remove underline from the link */
}
/* Responsive navbar For Tablet */

@media (max-width: 900px) {
  .cards-box {
    width: 100%;
  }

  .button-box {
    display: flex;
    margin-top: 2rem;
  }

  .primary-button {
    padding: 11px;
    font-size: 1.2rem;
  }

  .secondary-button {
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .cards-box {
    width: 90%;
    margin-bottom: 10px;
  }
}
